.to_do_list__section{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to_do_list{
    height: 40vh;
    width: 75%;
    padding: 30px;
    background-color: rgb(250, 237, 218);
    border-radius: 13px 13px 0 0;
    display: flex;
    justify-content: center;
}

