
.header{
    font-size: larger;
    height: 15vh;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 15px;
}

.logo{
    height: 40px;
    width: 40px;
}